@import "../../components/common/vars";

.main_container_employee{
    flex-direction: column;
    align-items: center;
    color: $form-main-color;
    min-height: 70vh;
    padding: 0 2%;
}

.global_filter_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2em 0;
}



.tab_containers{
    width: 100%;
    
}

.employee_table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.employee_table_header{
    color: $main-color;
    background-color: $second-color;
    border: 1px solid $second-color;
    td{
        border-right: 1px solid $main-color;
        padding: 0.5em;
        white-space: nowrap;
    }
}

.employee_table_body{
    td{
        border-bottom: 1px solid $form-main-color;
        padding: 0.5em;
    }
}

.table_cell_filter{
    display: inline-flex;
    flex-direction: column;
    vertical-align: inherit;
}

.visibile {
    display: block;
}

.hidden{
    display: none;
}

.table_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_nav{
    display: flex;
    justify-content: center;
    width: 80%;
}

.table_nav_list{
    list-style: none;
    display: flex;
    padding: 0;
}

.table_nav_items{
    padding: 0.8em;
}

.table_nav_button{
    background-color: $second-color;
    border: none;
    color: $main-color;
    padding: 0.8em;
    
}


@media (max-width: 780px) {

    .main_container_employee{
        font-size: 0.9em;
    }

    .title{
        font-size: 25px;
        margin: 30px 0;
    }

    .show_entries_wrapper{
        margin: 2em 0 1em 0;
    }
   .tab_containers{
       max-width: 90%;
       overflow-x: scroll;
   }

   .global_filter_container{
       display: flex;
       flex-direction: column-reverse;
       width: 90%;
   }

   .table_nav{
     width: 70%;
   }
  }