@import "../../components/common/vars";

.main_container_employee{
    flex-direction: column;
    align-items: center;
    color: $form-main-color;
    min-height: 70vh;
}

.global_filter_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2em 0;
}



.tab_container{
    width: 100%;
    
}

.employee_table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.employee_table_header{
    color: $main-color;
    background-color: $second-color;
    border: 1px solid $second-color;
    td{
        border-right: 1px solid $main-color;
        padding: 0.5em;
    }
}

.employee_table_body{
    td{
        border-bottom: 1px solid $form-main-color;
        padding: 0.5em;
    }
}

.table_cell_filter{
    display: inline-flex;
    flex-direction: column;
    vertical-align: inherit;
}

.visibile {
    display: block;
}

.hidden{
    display: none;
}

.table_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_nav{
    display: flex;
    justify-content: center;
    width: 80%;
}

.table_nav_list{
    list-style: none;
    display: flex;
    padding: 0;
}

.table_nav_items{
    padding: 0.8em;
}

.table_nav_button{
    background-color: $second-color;
    border: none;
    color: $main-color;
    padding: 0.8em;
    
}