@import "../common/_vars.scss";

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $second-color;
    padding: 0 15% 0 15%;
    height: 100px;
    h1{
        font-size: 2em;
        color: $main-color;
        
    }
}

nav{
  display: flex;
  justify-content: flex-end;
  width: 20%;
}