@import "../common/_vars.scss";


.modal_bck{
    position: absolute;
    overflow: hidden;
    top: 100px;
    width: 100%;
    z-index: 2;
    background-color: rgba(83, 157, 131, 0.6);
    justify-content: center;
    align-items: center;
}

.modal_wrapper{
    position: relative;
    
    width: 50%;
   
}

.modal_message{
    text-align: center;
    border-radius: 5px;
    background-color: $main-color;
    color: $form-main-color;
    width: 98%;
    padding: 1.5em 0;
}

.modal_close{
    position: absolute;
    display: flex ;
    justify-content: center;
    align-items: center;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $form-main-color;
    color: $main-color;
    font-size: 1.2em;
}

.visible{
    display: flex;
}

.hidden{
    display: none;
}

